.Dropdown {
  height: 50px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  user-select: none;
  color: #ffffff;
}
.Dropdown__button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: none;
  color: #ffffff;
  .Dropdown__button__icon {
    width: 30px;
    height: 30px;
  }
}
