.Modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal__wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 500px;
  // min-height: 300px;
  width: 400px;
  overflow: hidden;
  transition: all .5s;
}
.Modal__content {
  height: calc(100% - 108px);
  transition: all .5s;
}
.Modal__title {
  height: 54px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: var(--modal-title-font-size);
  font-weight: 600;
  line-height: 1.1;
  color: var(--text-color);
  box-shadow: var(--card-box-shadow);
}
.Modal__button-group {
  height: 54px;
  display: flex;
  user-select: none;
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
  button {
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 50%;
    border-left: 1px solid var(--secondary-color-gray2);
    transition: all .5s;
    &:hover  {
      background-color: var(--secondary-color-gray2);
    }
    &.Modal__button-group__confirm {
      font-weight: 600;
    }
  }
}