@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 80%;
  user-select: none;
  margin: 0 auto 20px;
}

.calendar .header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  color: var(--text-color);
  .icon {
    cursor: pointer;
    transition: 0.5s ease-out;
    margin: 0 1em;
    &:hover {
      color: var(--dcard-blue);
    }
  }
}

.calendar .days {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
  font-size: 70%;
  padding: 0.75em 0;
  .col-center {
    flex-basis: calc(100% / 7);
    width: calc(100% / 7);
    text-align: center;
    color: var(--dcard-blue);
  }
}

.calendar .body {
  .selected {
    span {
      background: var(--dcard-blue);
      color: #ffffff;
    }
  }
  .row {
    display: flex;
  }
  .cell {
    position: relative;
    height: 3em;
    overflow: hidden;
    cursor: pointer;
    span {
      transition: all 0.5s;
      padding: 10px;
      border-radius: 50%;
    }
    &:not(.selected):hover {
      span {
        background: #e7e7e7;
      }
    }
    .number {
      font-size: 82.5%;
      line-height: 1.8;
      width: 25px;
      height: 25px;
    }
  }
  .disabled {
    color: #d8d8d8;
    pointer-events: none;
  }
  .col {
    display: flex;
    flex-grow: 0;
    flex-basis: calc(100% / 7);
    width: calc(100% / 7);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
